body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: Graphik-Regular-Web, Arial, sans-serif;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    background: #14181c url(../assets/content-bg.webp) 0 -1px repeat-x;
}

header {
    padding: 20px;
    background-image: linear-gradient(to bottom, #14181c 0px, #14181c 250px, #2c3440 251px);
    text-align: center;
}

header .logo {
    width: 400px;
    height: auto;
}

.logo-container{
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

iframe {
    width: 55%;
    aspect-ratio: 16/9;
    border: none;
    border-radius: 5px;
}

footer {
    background-color: #1f2428;
    text-align: center;
    padding: 10px;
}

.made-by {
}

a.made-by{
    text-decoration: none;
    color: #8a9baa;
    font-size: 12px;
}

.iframe-controls {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.iframe-controls .btn-group {
    display: flex;
    gap: 5px;
}
.iframe-controls button {
    border: none;
    border-radius: 3px;
    margin: 0;
    padding: 6px 12px;
    background: #445566;
    color: #8a9baa;
    cursor: pointer;
    font-weight: bold;
    transition-duration: 0.3s;
}
.iframe-controls button:hover {
    color: white;
}
.btn-group button.active {
    color: white !important;
    background-color: #00ac1c;
}